@use "modules/variables.scss" as * ;
.chat-info{
    background-color: rgb(132, 150, 167);
    // height: calc(calc(100% - var(--match-height)) - 20px);
    height: 100vh;
    width: 100%;
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;

    // display: flex;
    // flex-direction: column;
    // gap: 8px; // or your preferred spacing
    overflow-y: auto;
    // max-height: 100%; // or set a specific height if needed
    > .div-fake {
        height: calc(var(--match-height) + 20px);
        width: 100%;
        background-color: yellow;
    }
}