@use "modules/variables" as *;
.list-chat-user{
    
    color: white;
    text-align: right;
    padding: 20px;
    background-color: $color-third;
}
.list-chat-bot{
    background-color: rgb(132, 150, 167);
    color: black;
    text-align: left;
    padding: 10px;
    background-color: yellowgreen;

}